@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

.main {
    max-width: 100%;
    color: #000000;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

     }

.navigation {
    height: 50px;
    width: 100%;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}    

.main__title {
    margin-top: 0;
    width: 100%;
}

.main__heading {
    background-image: url('../assets/img/foto2.jpg');
    background-repeat: no-repeat;
    background-attachment: local;
    padding-bottom: 77vh;
}